<h1>User info</h1>
 <div>
  <%= image_tag user.get_profile_image(100, 100) %>
  <p>name <%= user.name %></p>
  <p>introduction <%= user.introduction %></p>
 </div>
 <%= link_to "User", edit_user_path(user) %>


<h1>New book</h1>

<% if book.errors.any? %>
  <%= book.errors.count %>件のエラーが発生しました
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--Book.newを@bookに変更-->
  <%= form_with model: Book.new do |f| %>

    <h4>Title</h4>
      <%= f.text_field :book_title %>
    <h4>Opinion</h4>
      <%= f.text_area :caption %>
    <%= f.submit 'Create Book' %>
  <% end %>

