<h1>Editing Book</h1>

<%= form_with model: @book, url: books_path(@book.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :Title %>
  
  <h4>本文</h4>
  <%= f.text_area :Opinion %>
  
  <%= f.submit 'Update Book' %>
  
  <%= link_to "Show", books_path(@book), method: :show %>
  <%= link_to "Back", books_path(@book), method: :index %>
<% end %>
