<%= render 'list', user: @book.user,book: @book %>



<h1>Book detail</h1>
<div>
  <!--%= image_tag book.get_image %>-->
  <p><%= image_tag @book.user.get_profile_image(100, 100) %></p>
  <!--@userを@book.userに変更-->
  <p><%= link_to @book.user.name, book_path(@book.id) %></p>
  <p>Title：<%= @book.book_title %></p>
  <p>Opinion：<%= @book.caption %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"} %>
  <% end %>

</div>
